{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
 
    <main role="main">
      <!--who-->
      <section class="who">
        <div class="container">
          <img id="avatar" src="{% static 'img/930956.jpg' %}" height="175" alt="a pic of pat">
          <h1 class="name">Patrick Kuria</h1>
          <div class="skills">
            <span class="badge badge-primary">Oracle DBA</span>
            <span class="badge badge-primary">Full-stack Developer</span>
            <!-- <span class="badge badge-primary">Software Engineer</span> -->
          </div>
          <div class="description">
            <div class="row">
              <div class="offset-md-2 col-md-8">
                <p>I am a technology enthusiast from the number one continent called Africa. I specialize in Applications Development.
                Currently am working as a Database Administrator at <a href="https://sybyl.com/" target="_blank">Sybyl</a> in Nairobi, Kenya.</p>
                <p>I have skills in Python(Django and Flask) and Javascript. I am also an <a href="https://www.credly.com/badges/8a170139-4e81-4b91-a111-3b1b6068e0a8/linked_in_profile" target="_blank">Oracle Certified
                 Professional (OCP)</a>.</p>
               
                <p>You can find my <a href="https://drive.google.com/open?id=1W3PFaY7walUginzRB7Jgunwbu6BJp9tH" target="_blank">Curriculum Vitae(CV) here</a></p>
              </div>
            </div>
          </div>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/patrickkuria/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/PNjinu" target="_blank"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://twitter.com/Kuria144" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://www.freecodecamp.org/pnjinu" target="_blank"><i class="fab fa-free-code-camp fa-2x"></i></a>
          </div>
        </div>
      </section>
    </main>
{% endblock %}
