#footer-below{
  background-color: #343436;
  padding-top: 20px;
  padding-bottom: 20px;
  color:white;
  text-align: center;
  font-family:Arvo;
  font-size:18px;

}

#above-footer{
  background-color: #D6D6D6;
  padding-top:50px;
  padding-bottom:50px;
  color:dark-grey;
  text-align: center;
  font-family: Arvo;
  font-size:22px;

}
#who{
  padding-top: 50px;
  padding-bottom: 50px;
}
#what{
  padding-top:50px;
  padding-botton:50px;
  padding-right:50px;
  padding-left:50px;
  background-color: #EEEEEE;
}
#con{
  padding-top:50px;
  padding-bottom:50px;
}

.contact-header{
  padding-top:50px;
  padding-bottom:25px;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}
.navbar-default{
  width:100%;
  z-index: 100;
}
.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }

.navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.jumbotron{
    margin-bottom: 0;
}
