{% extends 'jobs/base.html' %}
{% block content %}
{% load static %}
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <img src="{% static 'IMG_20171023_124222_068.jpg' %}" height="300">
          <h1 class="jumbotron-heading">Patrick Kuria</h1>
          <p class="lead text-muted">Code lover, Python/Django is my preferred choice but I have experience in other languages. I also play fortnite alot.</p>
          <p>
            <a href="mailto:njinupat@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for job in jobs.all %}
            <div class="col-md-4">
              <a href="{% url 'detail' job.id %}">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ job.image.url }}">
                <div class="card-body">
                  <p class="card-text">{{ job.summary }}</p>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>
{% endblock %}